*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
}
.wrapper {
    margin: 0 auto;
}
.header-container{
    background: #27323E;
    height: 720px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

header h1{
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}
header h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: linear-gradient(108.35deg, #FC4A1A -36.03%, #F7B733 128.44%);
    border-radius: 40px 40px 40px 0px;
    width: 134px;
    height: 64px;
    padding: 19px 21px;
}
header p{
    font-family: 'Roboto';
font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 588px;
    margin-bottom: 27px;
    transition: 300ms;
}
header a {
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
    background: linear-gradient(108.35deg, #FC4A1A -36.03%, #F7B733 128.44%);
    border-radius: 100px;
    padding: 12px 48px;
    display: inline-block;
}
header a:hover{
    transform: translateY(-8px);
    color: #FFFFFF;
}
.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.hero-content{
    padding-top: 5px;
    padding-left: 90px;
}
.hero-image{
    padding-top: 75px;
}