@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
}


/* main start */

.wrapper {
    margin: 0 auto;
}
.header-container{
    background: #27323E;
    height: 720px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

header h1{
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}
header h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: linear-gradient(108.35deg, #FC4A1A -36.03%, #F7B733 128.44%);
    border-radius: 40px 40px 40px 0px;
    width: 134px;
    height: 64px;
    padding: 19px 21px;
}
header p{
    font-family: 'Roboto';
font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 588px;
    margin-bottom: 27px;
    transition: 300ms;
}
header a {
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
    background: linear-gradient(108.35deg, #FC4A1A -36.03%, #F7B733 128.44%);
    border-radius: 100px;
    padding: 12px 48px;
    display: inline-block;
}
header a:hover{
    transform: translateY(-8px);
    color: #FFFFFF;
}
.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.hero-content{
    padding-top: 5px;
    padding-left: 90px;
}
.hero-image{
    padding-top: 75px;
}
/* main end */



/* About me start */

.section-one-container{
    height: 720px;
    background-color: #212529;
}
.section-one-wrapper{
    margin: 0 auto;   
}
.section-one-content{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 148px;
    padding-top: 167px;
    padding-bottom: 168px;
    padding-right: 149px;    
}
.section-one-hero-image{
    /* padding-left: 148px;
    padding-top: 167px; */
    padding-right: 152px;
    text-align: center;
}
.section-one-hero-image p{
    padding-top: 20px;
    font-size: 25px;
}

.section-one-hero-content{
    padding-top: 5px;
    padding-left: 90px;   

}
.section-one-hero-content h4{
    font-size: 22px;
    line-height: 26px;
    /* display: flex; */
    align-items: center;
    padding-top: 14px;
}
.section-one-hero-content h2{
    font-size: 50px;
    line-height: 59px;
    background-image: url("images/Ellipse 4.png");
    background-repeat: no-repeat;
    padding-left: 26px;
}

/* About me end */


/* My services start */

.section-two{
    color: #FFFFFF;;
    height: 720px;
    background: #27323E;
}
.section-two p{
    font-size: 18px;
}
.section-two h2{
    font-size: 28px;
}

.section-two-header{
    padding-top: 55px;
    padding-bottom: 44px;
}

.section-two-header h2{
    /* font-size: 50px; */
    /* line-height: 59px; */
    background-image: url("images/Ellipse 4.png");
    background-repeat: no-repeat;
    /* padding-left: 26px; */
}
/* .section-two-header h2{
    font-size: 50px;
    text-align: center;
} */

.three-col{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding-bottom: 63px;

}

.section-two-left{
    /* align-content: right; */
    text-align: right;
    line-height: 21px;
}
.section-two-left-one{
    display: flex;
}

/* My services end */